.env
.env.*
!.env.example

.github/

node_modules/
**/node_modules/

pnpm-lock.yaml

dist/
**/dist/

*.log
npm-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

*.tmp
*.temp
~$*

*.docx

*.pem
*.key
*.crt

.wwebjs_auth/
.wwebjs_cache/

Frontend/.vite/
